body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*width: 100vw;*/
  /*height: 100vh;*/
  /*overflow: hidden;*/
}

.background {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background: black url("1929.jpg") no-repeat center center;
  background-size: cover;

  opacity: 0.4;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #1e2121;
}

.menu-item {
  text-align: center;
  color: #eaae48;
  max-width: 25%;
  width: 25%;
}

.menu-item:hover {
  color: #1e2121;
  background: #eaae48;
  cursor: pointer;
}

.menu-item-active {
  text-decoration: underline;
}

img {
  max-width: 15%;
  height: auto;
}

.page {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: scroll;
  margin: 2.5%;
}

.placeholder p {
  font-size: 50px;
  font-weight: bold;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
  border-radius: 2%;

  padding: 2%;
}

.goldAndBold {
  color: #eaae48;
  font-weight: bold;
}